{% load static %}
<div id=":1lo" class="ii gt adP adO">
    <div id=":1h5" class="a3s aXjCH m15757d3f4e53ff3a"><u></u>
      <div>
        <div>
          <div class="m_-4325811371517037407mktEditable">
            <div style="background-color: #515151;">
              <div style="margin:0 auto;max-width:600px;background:#222228;border-radius:15px;margin-bottom:5px;">
                <table role="presentation" cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;background:blue-grey darken-4;" align="center" border="0">
                  <tbody>
                    <tr>
                      <td style="text-align:center;vertical-align:top;font-size:0px;padding:20px 0px">
                        <div aria-labelledby="mj-column-per-80" class="m_-4325811371517037407mj-column-per-80" style="vertical-align:top;display:inline-block;font-size:13px;text-align:left;width:100%">
                          <table role="presentation" cellpadding="0" cellspacing="0" style="vertical-align:top" width="100%" border="0">
                            <tbody>
                              <tr>
                                <td style="word-break:break-word;font-size:0px;padding:10px 25px;padding-top:30px" align="center">
                                  <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-spacing:0px" align="center" border="0">
                                    <tbody>
                                      <tr>
                                        <td style="width:80px"><a href="http://20.40.54.252/" target="_blank" data-saferedirecturl=""><img alt="Republic Ktm Newsletter" title="Republic" height="auto" src="http://127.0.0.1:8000/media/img/icon.png" style="border:none;display:block;outline:none;text-decoration:none;width:100%;height:auto;border-radius: 50%;" width="80" class="CToWUd"></a></td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                              <tr>
                                <td style="word-break:break-word;font-size:0px;padding:0px 20px 0px 20px" align="center">
                                  <div style="color:white;font-family:'Avenir Next',Avenir,sans-serif;font-size:20pt;line-height:60px">Republic News</div>
                                </td>
                              </tr>
                              <tr>
                                <td style="word-break:break-word;font-size:0px;padding:0px 20px 30px 20px" align="center">
                                  <div style="color:#fff;font-family:'Avenir Next',Avenir,sans-serif;font-size:16pt;line-height:30px">{{heading.title}}</div>
                                </td>
                              </tr>
                              <tr>
                                <td style="word-break:break-word;font-size:0px;padding:0px 20px 30px 20px">
                                  <div style="color:#cfcfcf;font-family:'Avenir Next',Avenir,sans-serif;font-size:11pt;line-height:23px">{{heading.message}}</div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              {% for blog in blogs %}  
                <div style="margin:0 auto;max-width:600px;">
                  <table role="presentation" cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;background:white;border: 1px solid #e6e6e6;border-radius: 15px;margin-bottom:5px;" align="center" border="0">
                    <tbody>
                      <tr>
                        <td style="text-align:center;vertical-align:top;font-size:0px;">
                          <div aria-labelledby="mj-column-per-100" class="m_-4325811371517037407mj-column-per-100" style="vertical-align:top;display:inline-block;font-size:13px;text-align:left;width:100%">
                            <table role="presentation" cellpadding="0" cellspacing="0" style="vertical-align:top" width="100%" border="0">
                              <tbody>
                                <tr>
                                  <td style="word-break:break-word;font-size:0px;padding:15px 0px 15px 0px">
                                    <div style="font-family:'Avenir Next',Avenir,sans-serif;font-size:10pt;line-height:25px"><a style="color:DodgerBlue;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{blog.catagory}}</a></div>
                                  </td>
                                </tr>
                                <tr>
                                  <td style="word-break:break-word;font-size:0px;padding: 0">
                                    <div style="color:#212121;font-family:'Avenir Next',Avenir,sans-serif;font-size:12pt;line-height:25px"><a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{blog.heading}}</a></div>
                                  </td>
                                </tr>
                                <tr>
                                  <td style="word-break:break-word;font-size:0px;padding:10px 25px" align="center">
                                    <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-spacing:0px" align="center" border="0">
                                      <tbody>
                                        <tr>
                                          <td style="width:550px">
                                            <a target="_blank">
                                              <img alt="Open AI" title="Open AI" height="auto" src="http://127.0.0.1:8000/media/img/{{blog.img}}" style="border:none;display:block;outline:none;text-decoration:none;width:100%;height:auto" width="550" class="CToWUd">
                                            </a>
                                            <a><i>{{blog.caption}}</i></a>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td style="word-break:break-word;font-size:0px;padding:0px 20px 15px 20px" align="left">
                                    <div style="color:#222228;font-family:'Avenir Next',Avenir,sans-serif;font-size:10pt;line-height:20px">{{blog.discription}}</div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              {% endfor %}
  
              <div style="margin:0 auto;max-width:600px;">
                <table role="presentation" cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;background:#f1f2f3;border-radius: 15px 15px 0px 0px;" align="center" border="0">
                  <tbody>
                    <tr>
                      <td style="text-align:center;vertical-align:top;font-size:0px;padding:20px 0px">
                        <div aria-labelledby="mj-column-per-100" class="m_-4325811371517037407mj-column-per-100" style="vertical-align:top;display:inline-block;font-size:13px;text-align:left;width:100%">
                          <table role="presentation" cellpadding="0" cellspacing="0" style="vertical-align:top" width="100%" border="0">
                            <tbody>
                              <tr>
                                <td style="word-break:break-word;font-size:0px;padding:15px 0px 15px 0px" align="center">
                                  <div style="color:#212121;font-family:'Avenir Next',Avenir,sans-serif;font-size:20pt;line-height:40px">More of the Good Stuff Visit out Website</div>
                                </td>
                              </tr>
                              <tr>
                                <td style="word-break:break-word;font-size:0px;padding:15px 0px 15px 0px" align="center">
                                    <form action="http://20.40.54.252/">
                                        <input type="submit" value="Republic Ktm" style="background: black;border: 2px solid black;color: white;padding: 1rem;font-size: 1rem;border-radius: 3px;cursor: pointer;"/>
                                    </form>                                    
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
  
  
              <div style="margin:0 auto;max-width:600px;background:#fafafa">
                <table role="presentation" cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;background:#fafafa" align="center" border="0">
                  <tbody>
                    <tr>
                      <td style="text-align:center;vertical-align:top;font-size:0px;padding:20px 0px">
                        <div aria-labelledby="mj-column-per-80" class="m_-4325811371517037407mj-column-per-80" style="vertical-align:top;display:inline-block;font-size:13px;text-align:left;width:100%">
                          <table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                            <tbody>
                              <tr>
                                <td style="word-break:break-word;font-size:0px;padding:30px 30px 0px 30px" align="center">
                                  <div style="color:#212121;font-family:'Avenir Next',Avenir,sans-serif;font-size:18px;font-weight:500;line-height:27px">As always, we're here to help.<br><a> You can contact on <a href="mailto:republic@contactus.com" target="_blank">republic@contactus.com</a> </a></div>
                                </td>
                              </tr>
                              <tr>
                                <td style="word-break:break-word;font-size:0px;padding:10px 25px" align="center">
                                  <div style="color:#222228;font-family:'Avenir Next',Avenir,sans-serif;font-size:16px;line-height:30px">Have a Great Day,<br> The REPUBLIC KTM Team</div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div> 
  
              <div style="margin:0 auto;max-width:600px;background:white">
                <table role="presentation" cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;background:white" align="center" border="0">
                  <tbody>
                    <tr>
                      <td style="text-align:center;vertical-align:top;font-size:0px;padding:20px 0px;background: #f1f2f3;">
                        <div aria-labelledby="mj-column-per-100" class="m_-4325811371517037407mj-column-per-100" style="vertical-align:top;display:inline-block;font-size:13px;text-align:left;width:100%">
                          <table role="presentation" cellpadding="0" cellspacing="0" style="vertical-align:top" width="100%" border="0">
                            <tbody>
                              <tr>
                                <td style="word-break:break-word;font-size:0px;padding:0px 20px 0px 20px" align="center">
                                  <div style="color:#222228;font-family:'Avenir Next',Avenir,sans-serif;font-size:13px;line-height:20px">This email was sent to <a href="mailto:{{email}}" target="_blank">{{email}}</a>. You're receiving this email because you signed up for an REPUBLIC KTM account. If you'd rather not see us in your inbox in the future, please <a href="http://20.40.54.252/unsubscribe/{{email}}" style="color:#0a84ae;text-decoration:none">unsubscribe</a>.<br> <br> <span style="color:#777777">© 2022 The Secret Valley Journal</span></div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>